<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="llcom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="KeraLua" publicKeyToken="6a194c04b9c89217" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.13.0" newVersion="1.0.13.0"/>
      </dependentAssembly>
      <probing privatePath="lib;libs" xmlns=""/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <llcom.Properties.Settings>
      <setting name="dataToSend" serializeAs="String">
        <value>uart data</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="autoReconnect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoSaveLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="showHex" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="topmost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="parity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="timeout" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="dataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="stopBit" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sendScript" serializeAs="String">
        <value>默认</value>
      </setting>
      <setting name="runScript" serializeAs="String">
        <value>example</value>
      </setting>
      <setting name="quickData" serializeAs="String">
        <value>{"data":[{"id":1,"text":"example string","hex":false},{"id":2,"text":"中文默认utf8编码","hex":false},{"id":3,"text":"aa 01 02 0d 0a","hex":true},{"id":4,"text":"此处数据会被lua处理","hex":false}]}</value>
      </setting>
    </llcom.Properties.Settings>
  </userSettings>
</configuration>
