<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdonisUI" version="1.10.0" targetFramework="net472" />
  <package id="AdonisUI.ClassicTheme" version="1.10.0" targetFramework="net472" />
  <package id="AvalonEdit" version="5.0.4" targetFramework="net472" />
  <package id="Costura.Fody" version="4.0.0" targetFramework="net472" />
  <package id="Fody" version="5.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="KeraLua" version="1.0.13" targetFramework="net472" />
  <package id="NLua" version="1.4.17" targetFramework="net472" />
</packages>