<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdonisUI" version="1.10.0" targetFramework="net472" />
  <package id="AdonisUI.ClassicTheme" version="1.10.0" targetFramework="net472" />
  <package id="AvalonEdit" version="5.0.4" targetFramework="net472" />
  <package id="Costura.Fody" version="4.0.0" targetFramework="net472" />
  <package id="Fody" version="5.0.6" targetFramework="net472" developmentDependency="true" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net472" />
  <package id="KeraLua" version="1.0.14" targetFramework="net472" />
  <package id="LibUsbDotNet" version="2.2.29" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="NLua" version="1.4.18" targetFramework="net472" />
</packages>